.fr{float: right;}
.fl{float: left;}
.clr{clear: both;}
article,footer,header,nav,section{
	display: block;
}
.orange{font-weight:700;color:#f60}
.top_bg{border-bottom:1px solid #ccc;font-size:14px;font-family:"宋体";line-height:30px;background:#f7f7f7;height:30px}
.top_content{width:1200px;margin:0 auto}
.xl{display:inline-block;position:relative}
.droparrow{position:relative;border:1px solid transparent;width:160px;height:30px;display:inline-block;padding-left:5px;z-index:1000}
.xl>.dropdown{background:#fff;width:285px;height:225px;border:1px solid #ccc;padding:5px;position:absolute;right:0;top:30px;z-index:999;overflow-y:auto;overflow-x:hidden;display:none}
.shop_pic li{float:left;margin:0 3px;line-height:20px}
.shop_pic li p{text-align:center;color:gray}
.shop_pic img{border:1px solid #ccc}
.shop_pic img:hover{border:1px solid #f60}
.shopcart{background:url(../images3/shoppingcart.png) no-repeat;width:16px;height:16px;display:inline-block;margin:5px 5px 0 0}
/*logo+banner*/
.logo_banner{
	width: 1200px;
	margin: 0 auto;
}
.nav_bg{
	height: 50px;
	background: #ce2626;
	margin-bottom: 3px;
}
.nav{
	float: left;
	width: 100px;
	margin: 0 30px 0 30px;
	height: 50px;
	font-size: 16px;
	line-height: 50px;
	text-align: center;
}
.nav a{
	color: #fff;
	font-weight: 700;
}
.nav_active{background:#b12121}
a.white{color:#fff;text-decoration:none}
a.white:hover{color:#ff0;text-decoration:none}
/*register*/
.register{
	width: 1000px;
	margin: 0 auto;
}
.register_left{
	width: 580px;
	float: left;
}
.register_title{
	height: 62px;
	text-align: center;
}
.register_title span{
	display: block;
	font-weight: 700;
	font-size: 20px;
}
.register_title hr{
	border-bottom: 3px solid #ccc;
}
.register_right{
	width: 420px;
	float: left;
}
.register_right img{
	height: 600px;
	margin-top: 50px;
}
#registerForm{
	margin-left: 23px;
}
#registerForm div{
	width: 520px;
	margin: 5px 0 5px 0;
}
#registerForm label{
	display: inline-block;
	width: 80px;
	font-size:14px;
	line-height: 35px;
    padding-bottom: 3px;
	font-weight: 400;
}
#registerForm input,select{
	border: 1px solid #ccc;
}
/*footer*/
.footer{
		background: #efefef;
		height: 310px;
		margin-top: 20px;
}
.foot_title{
	background: #6a6665;
	height: 40px;
	padding-top: 8px;
}
.foot_pic{
	margin: 0 auto;
	width: 1200px;
}
.foot_pic>li{
	width:20%;
	float: left;
	text-align:center;
}
.foot_list{
	margin: 0 auto;
	padding-top: 20px;
	width: 1000px;
}
.foot_list>li{
	width: 20%;
	float: left;
}
.foot_list ul{
	padding-left:10px ;
}
.red1{
	background: no-repeat;
	width: 35px;
	height: 31px;
	display:block;
}
.line1{
	background:url(../images3/line1.jpg) no-repeat;
	width: 20px;
	height: 100px;
	display: inline-block;
}
.font16{
	font-size:16px ;
	font-weight: 700;
	padding-bottom: 10px;
}
.foot_line{
	border-bottom: 1px solid #ccc;
	font-size:12px ;
	margin-top: 10px;
}
.padding_top{
	padding-top: 10px;
}